body {
  background: #141414;
}
#menu {
  position: fixed;
  top: 20px;
  left: 120px;
  color: white;
  font-family: verdana;
  font-weight: 500;
}
.choices {
  position: absolute;
  top: 0px;
}
#home {
  left: 100px;
}
#action {
  left: 200px;
}
#comedy {
  left: 300px;
}
#thriller {
  left: 400px;
}
#scify {
  left: 500px;
}
.movieList {
  position: absolute;
  display: flex;

  left: 5px;
  width: 90%;
  background: yellow;
}
#movieList {
  top: 100px;
}
#movieList2 {
  top: 300px;
}
