body {
  background: #141414;
}
#menu {
  position: absolute;
  top: 20px;
  left: 120px;
  color: white;
  font-family: verdana;
  font-weight: 500;
}
.choices {
  position: absolute;
  top: 0px;
}
#home {
  left: 100px;
}
#action {
  left: 200px;
}
#comedy {
  left: 300px;
}
#thriller {
  left: 400px;
}
#scify {
  left: 500px;
}
.movieList {
  position: relative;
  display: flex;
  height: 150px;
  width: 100%;
}
.line {
  position: relative;
  left: 5px;
  width: 100%;
  display: block;
}
.line2 {
  position: relative;
  left: 5px;
  width: 100%;
  display: block;
}

#content {
  position: absolute;
  top: 100px;
  width: 100%;
  overflow: hidden;
}

.txt {
  position: relative;
  /* top: 5px; */
  left: 5px;
  color: white;
  font-family: verdana;
  font-weight: bold;
  z-index: 1;
}
.img:hover {
  border: 5px solid white;
  height: 95px;
  width: auto;
}

.img {
  position: absolute;
  height: 100px;
  width: auto;
  z-index: 2;
}

.pointer {
  position: absolute;
  z-index: 1;
  height: 20px;
  width: 20px;
  top: 95px;
  transform: rotate(45deg);
  background: white;
  display: none;
}

.bottomSpace {
  position: relative;
  height: 20px;
}
.topSpace {
  position: relative;
  height: 18px;
}

.right {
  border-color: transparent white;
  border-style: solid;
  border-width: 20px 0px 20px 30px;
  height: 0px;
  width: 0px;
  position: absolute;
  top: 35%;
  z-index: 8;
  opacity: 0.3;
  right: 3%;
}

.left {
  border-color: transparent white;
  border-style: solid;
  border-width: 20px 30px 20px 0px;
  position: absolute;
  top: 35%;
  z-index: 8;
  height: 0px;
  width: 0px;
  opacity: 0.3;
  left: 1%;
}
.right:hover {
  opacity: 0.9;
}
.left:hover {
  opacity: 0.9;
}
.container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.imgC {
  position: relative;
  top: 0px;
  height: 146px;
  width: auto;
  z-index: 5;
}

.imgC:hover {
  height: 250px;
  width: auto;
}

.pointer {
  position: relative;
  top: -10px;
  left: 45%;
  height: 20px;
  width: 20px;
  display: none;
  background: white;
  z-index: 3;
  transform: rotate(45deg);
}
.mvBox {
  margin: 4px;
}

.display {
  position: relative;
  float: right;
  /* text-align: center; */
  width: 100%;
  background: black;
  display: none;
}
.display2 {
  position: relative;
  float: right;
  top: 0px;
  width: auto;
  height: 400px;
  display: block;
  z-index: 1;
}

.display3 {
  position: absolute;
  float: left;
  top: 0px;
  width: 90%;
  height: 400px;
  display: block;
  z-index: 2;
  color: white;
  font-family: verdana;
  background: linear-gradient(to right, black 55%, transparent 100%);
}
.iframe {
  z-index: 1;
}
.upperTitle {
  position: absolute;
  font-size: 1.5rem;
  top: 10px;
  left: 20px;
  /* z-index: 25; */
  font-weight: 100;
}
.title {
  position: absolute;
  font-size: 3rem;
  top: 40px;
  left: 20px;
  font-weight: 100;
}

.date {
  position: absolute;
  font-size: 1rem;
  top: 180px;
  left: 20px;
  color: #42c864;
  font-weight: 100;
}

.description {
  position: absolute;
  font-size: 1rem;
  top: 200px;
  left: 20px;
  font-weight: 100;
}

.play {
  position: absolute;
  font-size: 1.5rem;
  bottom: 50px;
  left: 20px;
  padding: 5px 10px 5px 40px;
  font-weight: 600;
  font-weight: 100;
  z-index: 25;
  background: #e50914;
  transition: all linear 0.5s;
}
.play:hover {
  padding: 5px 40px 5px 10px;
  border-radius: 0px 80px 80px 0px;
}
.iframe {
  position: relative;
  width: 800px;
  height: 500px;
  display: none;
  z-index: 20;
  border: 0px solid white;
}
.close {
  position: absolute;
  top: 30px;
  right: 30px;
  display: block;
  font-family: verdana;
  color: white;
  z-index: 8;
  font-size: 2rem;
  transition: all linear 0.5s;
}
.close:hover {
  transform: rotate(180deg);
}
